body{
    height: 100vp;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d96459;
}

.container{
    border: 1px solid #588c7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px;
}

.buttons{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 18px;
}

button,
.picker-div{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #f2e394;
    background-color: #f2ae72;
    padding: 8px;
}

.picker{
    align-self: center;
}

.ll{
    background-color: #588c7e; /* buttons */
    background-color:  #f2e394; /* borders */
    background-color: #f2ae72; /* canvas */
    background-color: #d96459; /* buttons */
}