body{
    height: 100vp;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d96459;
}

.container{
    border: 1px solid #588c7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px;
}

.buttons{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 18px;
}

button,
.picker-div{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #f2e394;
    background-color: #f2ae72;
    box-shadow: 2px 5px #f2ae728f;
    padding: 5px;
}

.pressed{
    background-color: #f09e56;
    box-shadow: 1px 3px #e98c3a8f;
    transform: translateY(4px);
}
